
**/.git/
**/.gitignore
**/.gitattributes
**/.github/

iterm2/AppSupport
iterm2/sockets

nvim/.cache/
nvim/lazy-lock.json

.oh-my-zsh/log
.oh-my-zsh/cache

.oh-my-bash/cache
.oh-my-bash/log

*.zwc
*.swp
*.swo
*.tmp
*.bak
*.log

*.pyc
__pycache__/

.DS_Store

